[Greeter][Wallpaper][org.kde.image][General]
Image=file://{{ .chezmoi.homeDir }}/.local/share/wallpapers/Best Anime Waifu Wallpaper 4k.jpg
PreviewImage=file://{{ .chezmoi.homeDir }}/.local/share/wallpapers/Best Anime Waifu Wallpaper 4k.jpg
